@import "../../node_modules/bootstrap/scss/bootstrap";
@import "common/global";
@import "common/variables";
@import "common/buttons";

.section-login {
	height: 100%;

	.container {
		display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
		height: 100%;
	
		.form-login {
			width: 95%;
			color: $secondary;

			.form-group {
				margin-bottom: 2.2rem;
			}

			input {
				background-color: $grey;
				border: none;
    		border-radius: 5px;
				-webkit-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.18);
				-moz-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.18);
				box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.18);
			}

			.form-check {
				height: 40px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				margin-top: 40px;
			}

			input[type=checkbox] {
				width: 0px;
				top: -10px;
			}

			input[type=checkbox]:after {
				content: " ";
				background-color: #fff;
				display: inline-block;
				visibility: visible;
				height: 35px;
				width: 35px;
				-webkit-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.18);
				-moz-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.18);
				box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.18);
				border-radius: 5px;
			}

			input[type=checkbox]:checked:after {
				content: "";
				background-color: $color-primary;
			}

			.form-check {
				margin-bottom: 50px;
			}

			.yellow-link {
				color: $color-primary;
				font-size: 13px;
				display: flex;
				justify-content: center;
				margin-top: 12px;
		}
		}
	}
}
