@import "autoload/reset";

//@import "../../node_modules/bootstrap/scss/bootstrap";
@import "common/global";
@import "common/variables";
@import "components/buttons";
@import "components/forms";
@import "common/icons";

@import "common/menu";



.scroll-back {
	background-image: url(../images/icons/information-back.jpg);
	background-repeat: no-repeat;
	background-position-x: 112%;
	background-position-y: 12%;
}



.info-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
	position: relative;
	padding: 15px 90px 15px 30px;
	border-radius: 20px;

	.info-group {
		.info-title {
			color: rgba(112, 112, 112, .5);
			font-weight: 300;
			font-size: 15px;
			margin-bottom: 5px;
			margin-top: 0;
		}
	
		.info-text {
			color: rgba(112, 112, 112, 1);
			font-weight: 300;
			font-size: 20px;
			margin-bottom: 0;
			margin-top: 0;
		}
	}

	.info-2 {
		color: rgba(112, 112, 112, .5);
		font-size: 22px;
		font-weight: 300;
	}

	.icon {
		position: absolute;
		right: 20px;
		bottom: 50%;
    transform: translateY(50%);
	}

	&:hover,
	&:focus {
		background-color: $color-primary;
		-webkit-box-shadow: 0px 6px 26px -8px $color-primary;
		-moz-box-shadow: 0px 6px 26px -8px $color-primary;
		box-shadow: 0px 6px 26px -8px $color-primary;

		.info-group {
			.info-title {
				color: rgba(255, 255, 255, .5);
			}
	
			.info-text {
				color: rgba(255, 255, 255, 1);
			}
		}
	
		.info-2 {
			color: rgba(255, 255, 255, .5);
		}
	
		.icon {
			display: block !important;
		}
	}
}
