@font-face {
    font-family: 'geneva';
    src: url('../../fonts/geneva.ttf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'helvetica';
    src: url('../../fonts/HelveticaNeue-Medium.otf');
    font-weight: normal;
    font-style: normal;
  }
  