.icon {
	display: inline-block;
	background: no-repeat center;
	vertical-align: middle;
}

.icon-doc {
	background-image: url(../images/icons/doc.png);
	width: 32px;
	height: 41px;
}

.icon-config {
	background-image: url(../images/icons/config.png);
	width: 32px;
	height: 32px;
}

.icon-tools {
	background-image: url(../images/icons/tools.png);
	width: 43px;
	height: 51px;
}

.icon-arrow-left {
	background-image: url(../images/icons/arrow-left.png);
	width: 20px;
	height: 30px;
}

.icon-arrow-right {
	background-image: url(../images/icons/arrow-right.png);
	width: 20px;
	height: 30px;
}

.icon-engine {
	background-image: url(../images/icons/engine.png);
	width: 32px;
	height: 32px;
}

.icon-download {
	background-image: url(../images/icons/download.png);
	width: 22px;
	height: 22px;
}

.icon-more {
	background-image: url(../images/icons/more.png);
	width: 25px;
	height: 25px;
}

.icon-information {
	background-image: url(../images/icons/information.png);
	width: 11px;
	height: 44px;
}

.icon-arrow-down-yellow {
	background-image: url(../images/icons/arrow-down-yellow.png);
	width: 23px;
	height: 23px;
}

.menu-more {
	background-color: $color-primary;
    padding: 30px;
    border-radius: 50%;
    position: relative;
    top: 26px;
}