.icon {
	display: inline-block;
	background: no-repeat center;
	vertical-align: middle;
}

.icon-doc {
	background-image: url(../images/icons/doc.png);
	width: 32px;
	height: 41px;
}

.icon-config {
	background-image: url(../images/icons/config.png);
	width: 32px;
	height: 32px;
}

.icon-tools {
	background-image: url(../images/icons/tools.png);
	width: 43px;
	height: 51px;
}

.icon-arrow-left {
	background-image: url(../images/icons/arrow-left.svg);
	width: 20px;
	height: 30px;
}

.icon-arrow-left-dark {
	background-image: url(../images/icons/arrow-left-dark.png);
	width: 20px;
	height: 30px;
}

.icon-arrow-right {
	background-image: url(../images/icons/arrow-right.png);
	width: 20px;
	height: 30px;
}

.icon-engine {
	background-image: url(../images/icons/engine.png);
	width: 32px;
	height: 32px;
}

.icon-download {
	background-image: url(../images/icons/download.png);
	width: 22px;
	height: 22px;
}

.icon-download-grey {
	background-image: url(../images/icons/download-grey.svg);
	width: 22px;
    height: 22px;
}

.icon-right-grey {
	background-image: url(../images/icons/right-grey.svg);
	width: 22px;
    height: 22px;
}

.icon-more {
	background-image: url(../images/icons/more.png);
	width: 15px;
	height: 15px;
}

.icon-information {
	background-image: url(../images/icons/information.png);
	width: 11px;
	height: 44px;
}

.icon-arrow-down-yellow {
	background-image: url(../images/icons/arrow-down-yellow.png);
	width: 23px;
	height: 23px;
}

.icon-tools-white {
	background-image: url(../images/icons/tools-white.png);
	width: 19px;
	height: 22px;
}

.icon-tools-white-alt {
	background-image: url(../images/icons/tools-white-alt.png);
	width: 23px;
	height: 22px;
}

.icon-red-close {
	background-image: url(../images/icons/red-close.png);
	width: 40px;
	height: 43px;
}

.icon-confirmation-big {
	background-image: url(../images/icons/confirmation-big.png);
	width: 48px;
	height: 50px;
}

.icon-intensely {
	background-image: url(../images/icons/intensely.png);
	width: 17px;
	height: 18px;
}


