<!DOCTYPE html>
<html class="h-100">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Page Title</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" media="screen" href="main.css">
	<script src="main.js"></script>
	<link rel="stylesheet" href="../dist/css/login.css">
</head>
<body class="h-100">
	<section class="section-login">
		<div class="container">
			<img src="../dist/images/logo.png" alt="" class="img-fluid">

			<form class="form-login">
				<div class="form-group form-circle">
					<label for="appDomain">App Domain</label>
					<select class="circle-select" id="appDomain">
						<option selected>Select a Domain</option>
						<option value="1">NEXMO</option>
						<option value="2">NEXMO Solutions Gmbh & CO.KG</option>
						<option value="3">Taberg</option>
						<option value="3">Conseil GmbH</option>
						</select>
					</div>
					<div class="form-group form-circle">
							<label for="appStation">Station</label>
							<select class="circle-select" id="appStation">
									<option selected>Select a Station</option>
									<option value="1">Schwerin</option>
									<option value="2">Berlin</option>
									<option value="3">Bremen</option>
									<option value="3">Lubeck</option>
								</select>
						</div>
					<button type="submit" class="btn btn-yellow">Sign in</button>
				</form>

		</div>
	</section>
<i class="icon icon-engine"></i>
</body>
</html>