<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Page Title</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" media="screen" href="main.css">
	<script src="main.js"></script>
	<link rel="stylesheet" href="../dist/css/process-list.css">
</head>
<body class="has-fixed-menu">
	<nav class="nav-menu">
		<div class="container">
			<div class="nav-items">
				<i class="icon icon-doc"></i>
					<div class="group-center-menu">
						<i class="icon icon-more menu-more"></i>
						<h2 class="title-main-menu">Process List</h2>
					</div>
				<i class="icon icon-config"></i>
			</div>
		</div>
	</nav>

	<div class="container init-content">
		<input type="search" class="search-input" name="" id="" placeholder="Search..">
		<div class="process-group">
			<span class="process-title">diese Woche</span>
			<div class="process-block">
				<div class="block-title">Auftrag 1</div>
				<div class="block-desc">Auftragspartner: Volkswagen</div>
				<div class="block-info">75%</div>
				<div class="block-date">24.10.18</div>
				<i class="icon icon-download"></i>
			</div>
			<div class="process-block">
				<div class="block-title">Auftrag 1</div>
				<div class="block-desc">Auftragspartner: Volkswagen</div>
				<div class="block-info">75%</div>
				<div class="block-date">24.10.18</div>
				<i class="icon icon-download"></i>
			</div>
		</div>

		<div class="process-group">
			<span class="process-title">diese Woche</span>
			<div class="process-block">
				<div class="block-title">Auftrag 1</div>
				<div class="block-desc">Auftragspartner: Volkswagen</div>
				<div class="block-info">75%</div>
				<div class="block-date">24.10.18</div>
				<i class="icon icon-download"></i>
			</div>
			<div class="process-block">
				<div class="block-title">Auftrag 1</div>
				<div class="block-desc">Auftragspartner: Volkswagen</div>
				<div class="block-info">75%</div>
				<div class="block-date">24.10.18</div>
				<i class="icon icon-download"></i>
			</div>
			<div class="process-block">
				<div class="block-title">Auftrag 1</div>
				<div class="block-desc">Auftragspartner: Volkswagen</div>
				<div class="block-info">75%</div>
				<div class="block-date">24.10.18</div>
				<i class="icon icon-download"></i>
			</div>
		</div>
	</div>
</body>
</html>