<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Schaden</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" media="screen" href="main.css">
	<script src="main.js"></script>
	<link rel="stylesheet" href="../dist/css/schaden.css">
</head>
<body class="has-fixed-menu">
	<nav class="nav-menu">
		<div class="container">
			<div class="nav-items">
				<i class="icon icon-doc"></i>
					<div class="group-center-menu">
						<i class="icon icon-arrow-left"></i>
						<i class="icon icon-tools"></i>
						<i class="icon icon-arrow-right"></i>
						<i class="icon icon-arrow-down-yellow"></i>
					</div>
				<i class="icon icon-config"></i>
			</div>
		</div>
	</nav>

	<div class="container scroll-back">
		<h1 class="page-title">Schaden</h1>
		

			<div class="info-row">
				<div class="info-group">
					<h3 class="info-title">Location of inspection</h3>
					<h3 class="info-text">Hamburg</h3>
				</div>
				<span class="info-2">
					stark
				</span>
				<i class="icon icon-config d-none"></i>
			</div>
			<div class="info-row">
				<div class="info-group">
					<h3 class="info-title">Location of inspection</h3>
					<h3 class="info-text">Hamburg</h3>
				</div>
				<span class="info-2">
					stark
				</span>
				<i class="icon icon-config d-none"></i>
			</div>
			<div class="info-row">
				<div class="info-group">
					<h3 class="info-title">Location of inspection</h3>
					<h3 class="info-text">Hamburg</h3>
				</div>
				<span class="info-2">
					stark
				</span>
				<i class="icon icon-config d-none"></i>
			</div>
			<div class="info-row">
				<div class="info-group">
					<h3 class="info-title">Location of inspection</h3>
					<h3 class="info-text">Hamburg</h3>
				</div>
				<span class="info-2">
					stark
				</span>
				<i class="icon icon-config d-none"></i>
			</div>

			
			
		
	</div>
</body>
</html>