<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Schaden-details</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <script src="main.js"></script> -->
	<link rel="stylesheet" href="../dist/css/schaden-check.css">
</head>
<body class="has-fixed-menu">
	<nav class="nav-menu">
		<div class="container">
			<div class="nav-items">
				<i class="icon icon-doc"></i>
					<div class="group-center-menu">
						<i class="icon icon-arrow-left"></i>
						<i class="icon icon-tools"></i>
						<i class="icon icon-arrow-right"></i>
						<i class="icon icon-arrow-down-yellow"></i>
					</div>
				<i class="icon icon-config"></i>
			</div>
		</div>
	</nav>
	

	<div class="container">
		<div class="schaden-search">
			<div class="group-input-search">
				<i class="icon icon-intensely"></i>
				<input type="search" name="" id="" class="search-input">
			</div>
			<select class="schaden-model-select" id="appStation">
				<option selected>Model</option>
				<option value="1">Schwerin</option>
				<option value="2">Berlin</option>
				<option value="3">Bremen</option>
				<option value="3">Lubeck</option>
			</select>
			<i class="icon icon-arrow-left-dark"></i>
		</div>

		<div class="schaden-positions">
			<img src="../dist/images/truck-diagonal.png" alt="" class="img-fluid">

			<div class="schaden-control">
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="74.47px" height="79.48px" viewBox="0 0 74.47 79.48" style="enable-background:new 0 0 74.47 79.48;" xml:space="preserve">
					<path id="schaden-position-left" class="st0" d="M0.71,39.24l14.68-14.68l4.37,4.37L9.45,39.24l10.31,10.31l-4.37,4.37L0.71,39.24z" fill="#eeb636" stroke="#95989a" stroke-width="1"/>
					<path id="schaden-position-right" class="st1" d="M73.76,39.24L59.08,53.92l-4.37-4.37l10.31-10.31L54.71,28.94l4.37-4.37L73.76,39.24z" fill="none" stroke="#95989a" stroke-width="1"/>
					<path id="schaden-position-up" class="st1" d="M37.07,0.71L52,15.14l-4.3,4.45L37.22,9.45L27.09,19.94l-4.45-4.3L37.07,0.71z" fill="none" stroke="#95989a" stroke-width="1"/>
					<path id="schaden-position-down" class="st1" d="M37.39,78.78L22.46,64.35l4.3-4.45l10.48,10.13l10.13-10.48l4.45,4.3L37.39,78.78z" fill="none" stroke="#95989a" stroke-width="1"/>
					<circle id="schaden-position-circle" class="st2" cx="37.45" cy="39.56" r="10.5" fill="none" stroke="#95989a" stroke-width="1"/>
				</svg>
			</div>
		</div>
	</div>


    <div class="check-box-group">
        <div class="toggleWrapper">
            <input type="checkbox" name="toggle2" class="mobileToggle" id="toggle2">
            <label for="toggle2"></label>
          </div>
    </div>

    

	</div>

</body>
</html>