<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Schaden-details</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <script src="main.js"></script> -->
	<link rel="stylesheet" href="../dist/css/schaden-details.css">
</head>
<body class="has-fixed-menu">
	<nav class="nav-menu">
		<div class="container">
			<div class="nav-items">
				<i class="icon icon-doc"></i>
					<div class="group-center-menu">
						<i class="icon icon-arrow-left"></i>
						<i class="icon icon-tools"></i>
						<i class="icon icon-arrow-right"></i>
						<i class="icon icon-arrow-down-yellow"></i>
					</div>
				<i class="icon icon-config"></i>
			</div>
		</div>
	</nav>
	

	<div class="container">
		<div class="schaden-search">
			<div class="group-input-search">
				<i class="icon icon-intensely"></i>
				<input type="search" name="" id="" class="search-input">
			</div>
			<select class="schaden-model-select" id="appStation">
				<option selected>Model</option>
				<option value="1">Schwerin</option>
				<option value="2">Berlin</option>
				<option value="3">Bremen</option>
				<option value="3">Lubeck</option>
			</select>
			<i class="icon icon-arrow-left-dark"></i>
		</div>

		<div class="schaden-positions">
			<img src="../dist/images/truck-left.png" alt="" class="img-fluid">

			<div class="schaden-control">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="74.467" height="80.001" viewBox="0 0 74.467 80.001">
						<defs>
							<filter id="Ellipse_378" x="17.453" y="22.82" width="40" height="40" filterUnits="userSpaceOnUse">
								<feOffset dy="3" input="SourceAlpha"/>
								<feGaussianBlur stdDeviation="3" result="blur"/>
								<feFlood flood-opacity="0.161"/>
								<feComposite operator="in" in2="blur"/>
								<feComposite in="SourceGraphic"/>
							</filter>
						</defs>

						<!-- You cant target this id's  -->
						<g id="Group_2110" data-name="Group 2110" transform="translate(-285.547 -585.18)">
							<path id="schaden-position-left" data-name="Path 1598" d="M16.68,21.053,2,6.373,6.373,2,16.68,12.307,26.987,2,31.36,6.373Z" transform="translate(307.307 608) rotate(90)" fill="#eeb636" stroke="#95989a" stroke-width="1"/>
							<path id="schaden-position-right" data-name="Path 1599" d="M16.68,21.053,2,6.373,6.373,2,16.68,12.307,26.987,2,31.36,6.373Z" transform="translate(338.254 641.36) rotate(-90)" fill="none" stroke="#95989a" stroke-width="1"/>
							<path id="schaden-position-up" data-name="Path 1600" d="M16.68,21.053,2,6.373,6.373,2,16.68,12.307,26.987,2,31.36,6.373Z" transform="matrix(-1, 0.017, -0.017, -1, 339.659, 606.914)" fill="none" stroke="#95989a" stroke-width="1"/>
							<path id="schaden-position-down" data-name="Path 1601" d="M16.68,21.053,2,6.373,6.373,2,16.68,12.307,26.987,2,31.36,6.373Z" transform="matrix(1, -0.017, 0.017, 1, 305.903, 643.446)" fill="none" stroke="#95989a" stroke-width="1"/>
							<g transform="matrix(1, 0, 0, 1, 285.55, 585.18)" filter="url(#Ellipse_378)">
								<g id="Ellipse_378-2" data-name="Ellipse 378" transform="translate(26.45 28.82)" fill="none" stroke="#707070" stroke-width="1">
									<circle cx="11" cy="11" r="11" stroke="none"/>
									<circle cx="11" cy="11" r="10.5" fill="none"/>
								</g>
							</g>
						</g>
					</svg>
					
					
			</div>
		</div>
	</div>

	</div>

</body>
</html>