<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Schaden</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <script src="main.js"></script> -->
	<link rel="stylesheet" href="../dist/css/schaden-list.css">
</head>
<body class="has-fixed-menu">
	<nav class="nav-menu">
		<div class="container">
			<div class="nav-items">
				<i class="icon icon-doc"></i>
					<div class="group-center-menu">
						<i class="icon icon-arrow-left"></i>
						<i class="icon icon-tools"></i>
						<i class="icon icon-arrow-right"></i>
						<i class="icon icon-arrow-down-yellow"></i>
					</div>
				<i class="icon icon-config"></i>
			</div>
		</div>
	</nav>

	<div class="btns-bellow-menu">
		<div class="btn-more">
			<svg xmlns="http://www.w3.org/2000/svg" width="14.59" height="14.59" viewBox="0 0 14.59 14.59">
				<g id="Group_14" data-name="Group 14" transform="translate(1.5 1.5)">
					<line id="Line_5" data-name="Line 5" y2="11.59" transform="translate(5.795)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"/>
					<line id="Line_6" data-name="Line 6" x1="11.59" transform="translate(0 5.795)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3"/>
				</g>
			</svg>
		</div>
		<div class="btn-list-check">
			<svg xmlns="http://www.w3.org/2000/svg" width="17.176" height="21.793" viewBox="0 0 17.176 21.793">
				<g id="Group_2254" data-name="Group 2254" transform="translate(9655.72 12955.286)">
					<g id="Rectangle_1751" data-name="Rectangle 1751" transform="translate(-9655.72 -12955.286)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="1">
						<rect width="17.176" height="21.793" rx="4" stroke="none"/>
						<rect x="0.5" y="0.5" width="16.176" height="20.793" rx="3.5" fill="none"/>
					</g>
					<path id="Path_1656" data-name="Path 1656" d="M345.924,57.846l-1.976,3.025a.034.034,0,0,1-.058,0l-.849-1.4" transform="translate(-9994.447 -12999.028)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1"/>
					<path id="Path_1657" data-name="Path 1657" d="M345.924,53.126l-1.976,3.025a.033.033,0,0,1-.058,0l-.849-1.4" transform="translate(-9994.447 -12999.317)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1"/>
					<path id="Path_1658" data-name="Path 1658" d="M345.924,48.407l-1.976,3.025a.034.034,0,0,1-.058,0l-.849-1.4" transform="translate(-9994.447 -12999.607)" fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="1"/>
				</g>
			</svg>
		</div>
	</div>

	
	

	<div class="container">


		<div class="pre-row">
			<div class="schaden-x">
				<i class="icon icon-red-close"></i>
			</div>
			<div class="schaden-liste-row">
				<div class="schaden-liste-genereal">
					<div class="crop-img">
						<img src="../dist/images/car.jpg" alt="" class="schaden-liste-img">
					</div>
					<div class="schaden-liste-texts">
						<h2 class="schaden-liste-title">Altschaden prüfen</h2>
						<h3 class="schaden-liste-subtitle">Türfangband vorne links</h3>
						<span class="schaden-liste-span">Altschaden prüfen</span>
						<span class="schaden-liste-span">Altschaden prüfen</span>
					</div>
				</div>
				<div class="schaden-liste-menu">
					<div class="square-icon-repared">
						<i class="icon icon-tools-white"></i>
					</div>
					<div class="square-icon-no-repared">
						<i class="icon icon-tools-white-alt"></i>
					</div>
				</div>
				<svg class="arrow-left" xmlns="http://www.w3.org/2000/svg" width="19.053" height="29.36" viewBox="0 0 19.053 29.36">
					<path id="arrow-left-path" data-name="Path 1655" d="M16.68,21.053,2,6.373,6.373,2,16.68,12.307,26.987,2,31.36,6.373Z" transform="translate(21.053 -2) rotate(90)" fill="#d6d9de"/>
				</svg>
			</div>
		</div>

		<div class="pre-row">
			<div class="schaden-x">
				<i class="icon icon-red-close"></i>
			</div>
			<div class="schaden-liste-row">
				<div class="schaden-liste-genereal">
					<div class="crop-img">
						<img src="" alt="" class="schaden-liste-img">
					</div>
					<div class="schaden-liste-texts">
						<h2 class="schaden-liste-title">Altschaden prüfen</h2>
						<h3 class="schaden-liste-subtitle">Türfangband vorne links</h3>
						<span class="schaden-liste-span">Altschaden prüfen</span>
						<span class="schaden-liste-span">Altschaden prüfen</span>
					</div>
				</div>
				<div class="schaden-liste-menu">
					<div class="square-icon-repared">
						<i class="icon icon-tools-white"></i>
					</div>
					<div class="square-icon-no-repared square-icon-no-repared-on">
						<i class="icon icon-tools-white-alt"></i>
					</div>
				</div>
				<svg class="arrow-left" xmlns="http://www.w3.org/2000/svg" width="19.053" height="29.36" viewBox="0 0 19.053 29.36">
					<path id="arrow-left-path" data-name="Path 1655" d="M16.68,21.053,2,6.373,6.373,2,16.68,12.307,26.987,2,31.36,6.373Z" transform="translate(21.053 -2) rotate(90)" fill="#d6d9de"/>
				</svg>
			</div>
		</div>

		<div class="pre-row">
			<div class="schaden-x">
				<i class="icon icon-red-close"></i>
			</div>
			<div class="schaden-liste-row">
				<div class="schaden-liste-genereal">
					<div class="crop-img">
						<img src="../dist/images/car.jpg" alt="" class="schaden-liste-img">
					</div>
					<div class="schaden-liste-texts">
						<h2 class="schaden-liste-title">Altschaden prüfen</h2>
						<h3 class="schaden-liste-subtitle">Türfangband vorne links</h3>
						<span class="schaden-liste-span">Altschaden prüfen</span>
						<span class="schaden-liste-span">Altschaden prüfen</span>
					</div>
				</div>
				<div class="schaden-liste-menu">
					<div class="square-icon-repared square-icon-repared-on">
						<i class="icon icon-tools-white"></i>
					</div>
					<div class="square-icon-no-repared">
						<i class="icon icon-tools-white-alt"></i>
					</div>
				</div>
				<svg class="arrow-left" xmlns="http://www.w3.org/2000/svg" width="19.053" height="29.36" viewBox="0 0 19.053 29.36">
					<path id="arrow-left-path" data-name="Path 1655" d="M16.68,21.053,2,6.373,6.373,2,16.68,12.307,26.987,2,31.36,6.373Z" transform="translate(21.053 -2) rotate(90)" fill="#d6d9de"/>
				</svg>
			</div>
		</div>

		<div class="pre-row">
			<div class="schaden-x">
				<i class="icon icon-red-close"></i>
			</div>
			<div class="schaden-liste-row">
				<div class="schaden-liste-genereal">
					<div class="crop-img">
						<img src="../dist/images/car.jpg" alt="" class="schaden-liste-img">
					</div>
					<div class="schaden-liste-texts">
						<h2 class="schaden-liste-title">Altschaden prüfen</h2>
						<h3 class="schaden-liste-subtitle">Türfangband vorne links</h3>
						<span class="schaden-liste-span">Altschaden prüfen</span>
						<span class="schaden-liste-span">Altschaden prüfen</span>
					</div>
				</div>
				<div class="schaden-liste-menu">
					<div class="square-icon-repared">
						<i class="icon icon-tools-white"></i>
					</div>
					<div class="square-icon-no-repared">
						<i class="icon icon-tools-white-alt"></i>
					</div>
				</div>
				<svg class="arrow-left" xmlns="http://www.w3.org/2000/svg" width="19.053" height="29.36" viewBox="0 0 19.053 29.36">
					<path id="arrow-left-path" data-name="Path 1655" d="M16.68,21.053,2,6.373,6.373,2,16.68,12.307,26.987,2,31.36,6.373Z" transform="translate(21.053 -2) rotate(90)" fill="#d6d9de"/>
				</svg>
			</div>
		</div>


		<div class="pre-row">
			<div class="schaden-x">
				<i class="icon icon-red-close"></i>
			</div>
			<div class="schaden-liste-row">
				<div class="schaden-liste-genereal">
					<div class="crop-img">
						<img src="../dist/images/car.jpg" alt="" class="schaden-liste-img">
					</div>
					<div class="schaden-liste-texts">
						<h2 class="schaden-liste-title">Altschaden prüfen</h2>
						<h3 class="schaden-liste-subtitle">Türfangband vorne links</h3>
						<span class="schaden-liste-span">Altschaden prüfen</span>
						<span class="schaden-liste-span">Altschaden prüfen</span>
					</div>
				</div>
				<div class="schaden-liste-menu">
					<div class="square-icon-repared">
						<i class="icon icon-tools-white"></i>
					</div>
					<div class="square-icon-no-repared">
						<i class="icon icon-tools-white-alt"></i>
					</div>
				</div>
				<svg class="arrow-left" xmlns="http://www.w3.org/2000/svg" width="19.053" height="29.36" viewBox="0 0 19.053 29.36">
					<path id="arrow-left-path" data-name="Path 1655" d="M16.68,21.053,2,6.373,6.373,2,16.68,12.307,26.987,2,31.36,6.373Z" transform="translate(21.053 -2) rotate(90)" fill="#d6d9de"/>
				</svg>
			</div>
		</div>

		
		

		<a href="#" class="yellow-link">Hinzufügen</a>
	</div>

	<script>

	// class '.row-left' aply swip left effect, must by use in '.schaden-liste-row' element
	// class '.row-left-reverse' aply swip BACK effect, must by use in '.schaden-liste-row' element
	// class '.schaden-delet-confirmation' aply yellow background and push element up, must by use in '.pre-row' element. This effects have 2 seconds, after that the lement can be deleted of the DOM. 
	
	document.addEventListener('keyup', e => {
		console.log(e.key);
    switch (e.key) {
                       
				case 'ArrowLeft':
				document.querySelector('.schaden-liste-row').classList.add('row-left');
				document.querySelector('.schaden-liste-row').classList.remove('row-left-reverse');
				document.querySelector('#arrow-left-path').setAttribute("fill", "rgba(255, 0, 0, 0.5");
				document.querySelector('.arrow-left').style.transform = "rotate(180deg)";
				document.querySelector('.arrow-left').style.WebkitTransitionDuration='0.7s';
					break;

				case 'ArrowRight':
				document.querySelector('.schaden-liste-row').classList.add('row-left-reverse');
				document.querySelector('.schaden-liste-row').classList.remove('row-left');
				document.querySelector('#arrow-left-path').setAttribute("fill", "#d6d9de");
				document.querySelector('.arrow-left').style.transform = "rotate(360deg)";
				document.querySelector('.arrow-left').style.WebkitTransitionDuration='0.7s';
					break;

					case 'ArrowUp':
					
        	break;
					
				

				case 'Delete':
				document.querySelector('.pre-row').style.display = 'none'; // or delete the node
        	break;

                
            }
        });

				document.querySelector('.schaden-x').addEventListener('click', function() {
					var deletedAnim = document.createElement("div");
					deletedAnim.className = 'yellow-confirmation';
					document.querySelector(".pre-row").children[0].parentElement.insertBefore(deletedAnim, document.querySelector(".pre-row").children[1]);
					document.querySelector(".yellow-confirmation").innerHTML = '<i class="icon icon-confirmation-big"></i>';

					setTimeout(function(){
						document.querySelector('.schaden-liste-row').classList.add('row-left-reverse');
						document.querySelector('.pre-row').classList.add('schaden-delet-confirmation');
					}, 1); 
					
					setTimeout(function(){
						document.querySelector('.pre-row').remove();
					}, 1400);

				});



				document.querySelector('.square-icon-repared').addEventListener('click', function() {

					var reparedAnim = document.createElement("div");
					reparedAnim.className = 'repared-confirmation';
					document.querySelector(".pre-row").children[0].parentElement.insertBefore(reparedAnim, document.querySelector(".pre-row").children[1]);
					document.querySelector(".repared-confirmation").innerHTML = '<i class="icon icon-confirmation-big"></i>';
					
					setTimeout(function(){
					document.querySelector('.repared-confirmation').style.opacity = 1;
					document.querySelector('.repared-confirmation').style.transform = "translateY(0)";
					document.querySelector('.repared-confirmation').style.WebkitTransitionDuration='1s';


					document.querySelector('.square-icon-repared').classList.add('square-icon-repared-on');
					document.querySelector('.square-icon-no-repared').classList.remove('square-icon-no-repared-on');
					}, 1); 

					setTimeout(function(){
						document.querySelector('.repared-confirmation').style.opacity = 0;
						document.querySelector('.repared-confirmation').style.transform = "translateY(-20px)";
					}, 1500);

					setTimeout(function(){
						document.querySelector('.repared-confirmation').remove();
					}, 2200);

				});

				document.querySelector('.square-icon-no-repared').addEventListener('click', function() {
					// document.querySelector('.no-repared-confirmation').style.opacity = 1;
					// document.querySelector('.no-repared-confirmation').style.transform = "translateY(0)";
					// document.querySelector('.no-repared-confirmation').style.WebkitTransitionDuration='1s';


					// document.querySelector('.square-icon-no-repared').classList.add('square-icon-no-repared-on');
					// document.querySelector('.square-icon-repared').classList.remove('square-icon-repared-on');
					

					// <div class="no-repared-confirmation">
					// 	<i class="icon icon-confirmation-big"></i>
					// </div>
					// setTimeout(function(){
					// 	document.querySelector('.no-repared-confirmation').style.opacity = 0;
					// 	document.querySelector('.no-repared-confirmation').style.transform = "translateY(-15px)";
					// }, 1500); 

					var noReparedAnim = document.createElement("div");
					noReparedAnim.className = 'no-repared-confirmation';
					document.querySelector(".pre-row").children[0].parentElement.insertBefore(noReparedAnim, document.querySelector(".pre-row").children[1]);
					document.querySelector(".no-repared-confirmation").innerHTML = '<i class="icon icon-confirmation-big"></i>';
					
					setTimeout(function(){
					document.querySelector('.no-repared-confirmation').style.opacity = 1;
					document.querySelector('.no-repared-confirmation').style.transform = "translateY(0)";
					document.querySelector('.no-repared-confirmation').style.WebkitTransitionDuration='1s';


					document.querySelector('.square-icon-no-repared').classList.add('square-icon-no-repared-on');
					document.querySelector('.square-icon-repared').classList.remove('square-icon-repared-on');
					}, 1); 

					setTimeout(function(){
						document.querySelector('.no-repared-confirmation').style.opacity = 0;
						document.querySelector('.no-repared-confirmation').style.transform = "translateY(-20px)";
					}, 1500);

					setTimeout(function(){
						document.querySelector('.no-repared-confirmation').remove();
					}, 2200);

				});

	</script>
</body>
</html>