<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Scroll View</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" media="screen" href="main.css">
		<script src="main.js"></script>
		<link rel="stylesheet" href="../dist/css/scroll-view.css">
	</head>
	<body class="has-fixed-menu">
		<nav class="nav-menu">
			<div class="container">
				<div class="nav-items">
					<i class="icon icon-doc"></i>
					<div class="group-center-menu">
						<i class="icon icon-arrow-left"></i>
						<i class="icon icon-information"></i>
						<i class="icon icon-arrow-right"></i>
						<i class="icon icon-arrow-down-yellow"></i>
					</div>
					<i class="icon icon-config"></i>
				</div>
			</div>
		</nav>

		<div class="container scroll-back">
			<h1 class="page-title">General Info</h1>
			<div class="left-padding">
				<div class="info-group">
					<h3 class="info-title">Location of inspection</h3>
					<h3 class="info-text">Hamburg</h3>
				</div>
				<div class="info-group">
					<h3 class="info-title">Name (driver)</h3>
					<h3 class="info-text">Max Mustermann</h3>
				</div>
				<div class="info-group">
					<h3 class="info-title">Customer reference</h3>
					<h3 class="info-text">Timurs Audi</h3>
				</div>
				<div class="info-group">
					<h3 class="info-title">Report number</h3>
					<h3 class="info-text">ST17000016</h3>
				</div>
				<div class="info-group">
					<h3 class="info-title">Rental contract number</h3>
					<h3 class="info-text">123456</h3>
				</div>
				<div class="info-group">
					<h3 class="info-title">Customer</h3>
					<h3 class="info-text">NEXMO</h3>
				</div>
				<div class="info-group">
					<h3 class="info-title">Street</h3>
					<h3 class="info-text">Brunnenstraße 12</h3>
				</div>
				<div class="info-group">
					<h3 class="info-title">Zip code (inspection location)</h3>
					<h3 class="info-text">25337 Elmshorn</h3>
				</div>
				<div class="info-group">
					<h3 class="info-title">Location</h3>
					<h3 class="info-text">Hamburg</h3>
				</div>
			</div>
		</div>
	</body>
</html>