<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Page Title</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" media="screen" href="main.css">
	<script src="main.js"></script>
	<link rel="stylesheet" href="../dist/css/wheels.css">
</head>
	<body class="has-fixed-menu">
		<nav class="nav-menu">
			<div class="container">
				<div class="nav-items">
					<i class="icon icon-doc"></i>
						<div class="group-center-menu">
							<i class="icon icon-arrow-left"></i>
							<i class="icon icon-tools"></i>
							<i class="icon icon-arrow-right"></i>
							<i class="icon icon-arrow-down-yellow"></i>
						</div>
					<i class="icon icon-config"></i>
				</div>
			</div>
		</nav>

		<div class="container">
			<div class="controls-wheels">
				<i class="icon icon-engine"></i>
				<i class="icon icon-engine"></i>
			</div>

			<div class="row-wheels">
				<span class="wheel-bar"></span>
				<i class="icon icon-engine"></i>
				<i class="icon icon-engine opacity-02"></i> <!-- Jus increasse this class *opacity-02* to aply opacity in the icon  -->
				<span class="row-number">1</span>
				<i class="icon icon-engine opacity-02"></i> <!-- Jus increasse this class *opacity-02* to aply opacity in the icon  -->
				<i class="icon icon-engine"></i>
			</div>
			<div class="row-wheels">
					<span class="wheel-bar"></span>
					<i class="icon icon-engine"></i>
					<i class="icon icon-engine opacity-02"></i> <!-- Jus increasse this class *opacity-02* to aply opacity in the icon  -->
					<span class="row-number">2</span>
					<i class="icon icon-engine opacity-02"></i> <!-- Jus increasse this class *opacity-02* to aply opacity in the icon  -->
					<i class="icon icon-engine"></i>
				</div>
				<div class="row-wheels">
						<span class="wheel-bar"></span>
						<i class="icon icon-engine"></i>
						<i class="icon icon-engine opacity-02"></i> <!-- Jus increasse this class *opacity-02* to aply opacity in the icon  -->
						<span class="row-number">3</span>
						<i class="icon icon-engine opacity-02"></i> <!-- Jus increasse this class *opacity-02* to aply opacity in the icon  -->
						<i class="icon icon-engine"></i>
					</div>
					<div class="row-wheels">
							<span class="wheel-bar"></span>
							<i class="icon icon-engine"></i>
							<i class="icon icon-engine opacity-02"></i> <!-- Jus increasse this class *opacity-02* to aply opacity in the icon  -->
							<span class="row-number">4</span>
							<i class="icon icon-engine opacity-02"></i> <!-- Jus increasse this class *opacity-02* to aply opacity in the icon  -->
							<i class="icon icon-engine"></i>
						</div>
		</div>
	</body>
</html>